modules/tutorials/attachments/s3-kafka.xml
<template encoding-version="1.3">
    <description/>
    <groupId>4d274d88-0181-1000-52f9-9006e7279755</groupId>
    <name>s3-kafka</name>
    <snippet>
        <processGroups>
            <id>993f5945-3d6c-3fab-0000-000000000000</id>
            <parentGroupId>76f2d898-75b2-3da1-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments/>
            <contents>
                <connections>
                    <id>3b80fb5b-07dc-3774-0000-000000000000</id>
                    <parentGroupId>993f5945-3d6c-3fab-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>2</backPressureObjectThreshold>
                    <destination>
                        <groupId>993f5945-3d6c-3fab-0000-000000000000</groupId>
                        <id>ffd081e0-2781-3137-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute/>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name/>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>993f5945-3d6c-3fab-0000-000000000000</groupId>
                        <id>85b384dd-bb71-34d9-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>9928d6b8-8f0c-3fff-0000-000000000000</id>
                    <parentGroupId>993f5945-3d6c-3fab-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>2</backPressureObjectThreshold>
                    <destination>
                        <groupId>993f5945-3d6c-3fab-0000-000000000000</groupId>
                        <id>85b384dd-bb71-34d9-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute/>
                    <loadBalanceStatus>LOAD_BALANCE_INACTIVE</loadBalanceStatus>
                    <loadBalanceStrategy>ROUND_ROBIN</loadBalanceStrategy>
                    <name/>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>993f5945-3d6c-3fab-0000-000000000000</groupId>
                        <id>6ce8ddd3-65ac-379a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>a7cfe1b8-43fa-3464-0000-000000000000</id>
                    <parentGroupId>993f5945-3d6c-3fab-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>993f5945-3d6c-3fab-0000-000000000000</groupId>
                        <id>c03ddf4e-fa82-3ae9-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute/>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name/>
                    <selectedRelationships>splits</selectedRelationships>
                    <source>
                        <groupId>993f5945-3d6c-3fab-0000-000000000000</groupId>
                        <id>ffd081e0-2781-3137-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <controllerServices>
                    <id>0d5f5411-3445-3dbd-0000-000000000000</id>
                    <parentGroupId>993f5945-3d6c-3fab-0000-000000000000</parentGroupId>
                    <bundle>
                        <artifact>nifi-record-serialization-services-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.16.3</version>
                    </bundle>
                    <comments/>
                    <descriptors>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>
                                <name>schema-access-strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                            <value>
                                <dependencies>
                                    <dependentValues>confluent-encoded</dependentValues>
                                    <dependentValues>schema-name</dependentValues>
                                    <dependentValues>hwx-schema-ref-attributes</dependentValues>
                                    <dependentValues>hwx-content-encoded-schema</dependentValues>
                                    <propertyName>schema-access-strategy</propertyName>
                                </dependencies>
                                <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                                <name>schema-registry</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>
                                <dependencies>
                                    <dependentValues>schema-name</dependentValues>
                                    <propertyName>schema-access-strategy</propertyName>
                                </dependencies>
                                <name>schema-name</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                            <value>
                                <dependencies>
                                    <dependentValues>schema-name</dependentValues>
                                    <propertyName>schema-access-strategy</propertyName>
                                </dependencies>
                                <name>schema-version</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                            <value>
                                <dependencies>
                                    <dependentValues>schema-name</dependentValues>
                                    <propertyName>schema-access-strategy</propertyName>
                                </dependencies>
                                <name>schema-branch</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>
                                <dependencies>
                                    <dependentValues>schema-text-property</dependentValues>
                                    <propertyName>schema-access-strategy</propertyName>
                                </dependencies>
                                <name>schema-text</name>
                            </value>
                        </entry>
                        <entry>
                            <key>csv-reader-csv-parser</key>
                            <value>
                                <name>csv-reader-csv-parser</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                            <value>
                                <name>Date Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                            <value>
                                <name>Time Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                            <value>
                                <name>Timestamp Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>CSV Format</key>
                            <value>
                                <name>CSV Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Value Separator</key>
                            <value>
                                <dependencies>
                                    <dependentValues>custom</dependentValues>
                                    <propertyName>CSV Format</propertyName>
                                </dependencies>
                                <name>Value Separator</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Record Separator</key>
                            <value>
                                <dependencies>
                                    <dependentValues>custom</dependentValues>
                                    <propertyName>CSV Format</propertyName>
                                </dependencies>
                                <name>Record Separator</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Skip Header Line</key>
                            <value>
                                <name>Skip Header Line</name>
                            </value>
                        </entry>
                        <entry>
                            <key>ignore-csv-header</key>
                            <value>
                                <name>ignore-csv-header</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Quote Character</key>
                            <value>
                                <dependencies>
                                    <dependentValues>custom</dependentValues>
                                    <propertyName>CSV Format</propertyName>
                                </dependencies>
                                <name>Quote Character</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Escape Character</key>
                            <value>
                                <dependencies>
                                    <dependentValues>custom</dependentValues>
                                    <propertyName>CSV Format</propertyName>
                                </dependencies>
                                <name>Escape Character</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Comment Marker</key>
                            <value>
                                <dependencies>
                                    <dependentValues>custom</dependentValues>
                                    <propertyName>CSV Format</propertyName>
                                </dependencies>
                                <name>Comment Marker</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Null String</key>
                            <value>
                                <dependencies>
                                    <dependentValues>custom</dependentValues>
                                    <propertyName>CSV Format</propertyName>
                                </dependencies>
                                <name>Null String</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Trim Fields</key>
                            <value>
                                <dependencies>
                                    <dependentValues>custom</dependentValues>
                                    <propertyName>CSV Format</propertyName>
                                </dependencies>
                                <name>Trim Fields</name>
                            </value>
                        </entry>
                        <entry>
                            <key>csvutils-character-set</key>
                            <value>
                                <name>csvutils-character-set</name>
                            </value>
                        </entry>
                        <entry>
                            <key>csvutils-allow-duplicate-header-names</key>
                            <value>
                                <dependencies>
                                    <dependentValues>custom</dependentValues>
                                    <propertyName>CSV Format</propertyName>
                                </dependencies>
                                <name>csvutils-allow-duplicate-header-names</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>CSVReader</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>infer-schema</value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>${schema.name}</value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>${avro.schema}</value>
                        </entry>
                        <entry>
                            <key>csv-reader-csv-parser</key>
                            <value>commons-csv</value>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                        </entry>
                        <entry>
                            <key>CSV Format</key>
                            <value>custom</value>
                        </entry>
                        <entry>
                            <key>Value Separator</key>
                            <value>,</value>
                        </entry>
                        <entry>
                            <key>Record Separator</key>
                            <value>\n</value>
                        </entry>
                        <entry>
                            <key>Skip Header Line</key>
                            <value>false</value>
                        </entry>
                        <entry>
                            <key>ignore-csv-header</key>
                            <value>false</value>
                        </entry>
                        <entry>
                            <key>Quote Character</key>
                            <value>"</value>
                        </entry>
                        <entry>
                            <key>Escape Character</key>
                            <value>\</value>
                        </entry>
                        <entry>
                            <key>Comment Marker</key>
                        </entry>
                        <entry>
                            <key>Null String</key>
                        </entry>
                        <entry>
                            <key>Trim Fields</key>
                            <value>true</value>
                        </entry>
                        <entry>
                            <key>csvutils-character-set</key>
                            <value>UTF-8</value>
                        </entry>
                        <entry>
                            <key>csvutils-allow-duplicate-header-names</key>
                            <value>true</value>
                        </entry>
                    </properties>
                    <state>DISABLED</state>
                    <type>org.apache.nifi.csv.CSVReader</type>
                </controllerServices>
                <controllerServices>
                    <id>a394c60f-1606-30c7-0000-000000000000</id>
                    <parentGroupId>993f5945-3d6c-3fab-0000-000000000000</parentGroupId>
                    <bundle>
                        <artifact>nifi-record-serialization-services-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.16.3</version>
                    </bundle>
                    <comments/>
                    <descriptors>
                        <entry>
                            <key>Schema Write Strategy</key>
                            <value>
                                <name>Schema Write Strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-cache</key>
                            <value>
                                <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
                                <name>schema-cache</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-protocol-version</key>
                            <value>
                                <dependencies>
                                    <dependentValues>hwx-schema-ref-attributes</dependentValues>
                                    <dependentValues>hwx-content-encoded-schema</dependentValues>
                                    <propertyName>Schema Write Strategy</propertyName>
                                </dependencies>
                                <name>schema-protocol-version</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>
                                <name>schema-access-strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                            <value>
                                <dependencies>
                                    <dependentValues>confluent-encoded</dependentValues>
                                    <dependentValues>schema-name</dependentValues>
                                    <dependentValues>hwx-schema-ref-attributes</dependentValues>
                                    <dependentValues>hwx-content-encoded-schema</dependentValues>
                                    <propertyName>schema-access-strategy</propertyName>
                                </dependencies>
                                <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                                <name>schema-registry</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>
                                <dependencies>
                                    <dependentValues>schema-name</dependentValues>
                                    <propertyName>schema-access-strategy</propertyName>
                                </dependencies>
                                <name>schema-name</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                            <value>
                                <dependencies>
                                    <dependentValues>schema-name</dependentValues>
                                    <propertyName>schema-access-strategy</propertyName>
                                </dependencies>
                                <name>schema-version</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                            <value>
                                <dependencies>
                                    <dependentValues>schema-name</dependentValues>
                                    <propertyName>schema-access-strategy</propertyName>
                                </dependencies>
                                <name>schema-branch</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>
                                <dependencies>
                                    <dependentValues>schema-text-property</dependentValues>
                                    <propertyName>schema-access-strategy</propertyName>
                                </dependencies>
                                <name>schema-text</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                            <value>
                                <name>Date Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                            <value>
                                <name>Time Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                            <value>
                                <name>Timestamp Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Pretty Print JSON</key>
                            <value>
                                <name>Pretty Print JSON</name>
                            </value>
                        </entry>
                        <entry>
                            <key>suppress-nulls</key>
                            <value>
                                <name>suppress-nulls</name>
                            </value>
                        </entry>
                        <entry>
                            <key>output-grouping</key>
                            <value>
                                <name>output-grouping</name>
                            </value>
                        </entry>
                        <entry>
                            <key>compression-format</key>
                            <value>
                                <name>compression-format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>compression-level</key>
                            <value>
                                <dependencies>
                                    <dependentValues>gzip</dependentValues>
                                    <propertyName>compression-format</propertyName>
                                </dependencies>
                                <name>compression-level</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>JsonRecordSetWriter</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>Schema Write Strategy</key>
                            <value>no-schema</value>
                        </entry>
                        <entry>
                            <key>schema-cache</key>
                        </entry>
                        <entry>
                            <key>schema-protocol-version</key>
                            <value>1</value>
                        </entry>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>inherit-record-schema</value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>${schema.name}</value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>${avro.schema}</value>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                        </entry>
                        <entry>
                            <key>Pretty Print JSON</key>
                            <value>false</value>
                        </entry>
                        <entry>
                            <key>suppress-nulls</key>
                            <value>never-suppress</value>
                        </entry>
                        <entry>
                            <key>output-grouping</key>
                            <value>output-array</value>
                        </entry>
                        <entry>
                            <key>compression-format</key>
                            <value>none</value>
                        </entry>
                        <entry>
                            <key>compression-level</key>
                            <value>1</value>
                        </entry>
                    </properties>
                    <state>DISABLED</state>
                    <type>org.apache.nifi.json.JsonRecordSetWriter</type>
                </controllerServices>
                <controllerServices>
                    <id>ba0c6ecd-f892-3d89-0000-000000000000</id>
                    <parentGroupId>993f5945-3d6c-3fab-0000-000000000000</parentGroupId>
                    <bundle>
                        <artifact>nifi-record-serialization-services-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.16.3</version>
                    </bundle>
                    <comments/>
                    <descriptors>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>
                                <name>schema-access-strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                            <value>
                                <dependencies>
                                    <dependentValues>confluent-encoded</dependentValues>
                                    <dependentValues>schema-name</dependentValues>
                                    <dependentValues>hwx-schema-ref-attributes</dependentValues>
                                    <dependentValues>hwx-content-encoded-schema</dependentValues>
                                    <propertyName>schema-access-strategy</propertyName>
                                </dependencies>
                                <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                                <name>schema-registry</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>
                                <dependencies>
                                    <dependentValues>schema-name</dependentValues>
                                    <propertyName>schema-access-strategy</propertyName>
                                </dependencies>
                                <name>schema-name</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                            <value>
                                <dependencies>
                                    <dependentValues>schema-name</dependentValues>
                                    <propertyName>schema-access-strategy</propertyName>
                                </dependencies>
                                <name>schema-version</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                            <value>
                                <dependencies>
                                    <dependentValues>schema-name</dependentValues>
                                    <propertyName>schema-access-strategy</propertyName>
                                </dependencies>
                                <name>schema-branch</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>
                                <dependencies>
                                    <dependentValues>schema-text-property</dependentValues>
                                    <propertyName>schema-access-strategy</propertyName>
                                </dependencies>
                                <name>schema-text</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-inference-cache</key>
                            <value>
                                <dependencies>
                                    <dependentValues>infer-schema</dependentValues>
                                    <propertyName>schema-access-strategy</propertyName>
                                </dependencies>
                                <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
                                <name>schema-inference-cache</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                            <value>
                                <name>Date Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                            <value>
                                <name>Time Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                            <value>
                                <name>Timestamp Format</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>JsonTreeReader</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>infer-schema</value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>${schema.name}</value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>${avro.schema}</value>
                        </entry>
                        <entry>
                            <key>schema-inference-cache</key>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                        </entry>
                    </properties>
                    <state>DISABLED</state>
                    <type>org.apache.nifi.json.JsonTreeReader</type>
                </controllerServices>
                <processors>
                    <id>6ce8ddd3-65ac-379a-0000-000000000000</id>
                    <parentGroupId>993f5945-3d6c-3fab-0000-000000000000</parentGroupId>
                    <position>
                        <x>247.67079766066934</x>
                        <y>226.1482249932406</y>
                    </position>
                    <bundle>
                        <artifact>nifi-aws-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.16.3</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments/>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
                                <key>Bucket</key>
                                <value>
                                    <name>Bucket</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Region</key>
                                <value>
                                    <name>Region</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Access Key</key>
                                <value>
                                    <name>Access Key</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Secret Key</key>
                                <value>
                                    <name>Secret Key</name>
                                </value>
                            </entry>
                            <entry>
                                <key>record-writer</key>
                                <value>
                                    <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                                    <name>record-writer</name>
                                </value>
                            </entry>
                            <entry>
                                <key>min-age</key>
                                <value>
                                    <name>min-age</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Listing Batch Size</key>
                                <value>
                                    <name>Listing Batch Size</name>
                                </value>
                            </entry>
                            <entry>
                                <key>write-s3-object-tags</key>
                                <value>
                                    <name>write-s3-object-tags</name>
                                </value>
                            </entry>
                            <entry>
                                <key>write-s3-user-metadata</key>
                                <value>
                                    <name>write-s3-user-metadata</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Credentials File</key>
                                <value>
                                    <name>Credentials File</name>
                                </value>
                            </entry>
                            <entry>
                                <key>AWS Credentials Provider service</key>
                                <value>
                                    <identifiesControllerService>org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService</identifiesControllerService>
                                    <name>AWS Credentials Provider service</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Communications Timeout</key>
                                <value>
                                    <name>Communications Timeout</name>
                                </value>
                            </entry>
                            <entry>
                                <key>SSL Context Service</key>
                                <value>
                                    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                                    <name>SSL Context Service</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Endpoint Override URL</key>
                                <value>
                                    <name>Endpoint Override URL</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Signer Override</key>
                                <value>
                                    <name>Signer Override</name>
                                </value>
                            </entry>
                            <entry>
                                <key>proxy-configuration-service</key>
                                <value>
                                    <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
                                    <name>proxy-configuration-service</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Proxy Host</key>
                                <value>
                                    <name>Proxy Host</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Proxy Host Port</key>
                                <value>
                                    <name>Proxy Host Port</name>
                                </value>
                            </entry>
                            <entry>
                                <key>proxy-user-name</key>
                                <value>
                                    <name>proxy-user-name</name>
                                </value>
                            </entry>
                            <entry>
                                <key>proxy-user-password</key>
                                <value>
                                    <name>proxy-user-password</name>
                                </value>
                            </entry>
                            <entry>
                                <key>delimiter</key>
                                <value>
                                    <name>delimiter</name>
                                </value>
                            </entry>
                            <entry>
                                <key>prefix</key>
                                <value>
                                    <name>prefix</name>
                                </value>
                            </entry>
                            <entry>
                                <key>use-versions</key>
                                <value>
                                    <name>use-versions</name>
                                </value>
                            </entry>
                            <entry>
                                <key>list-type</key>
                                <value>
                                    <name>list-type</name>
                                </value>
                            </entry>
                            <entry>
                                <key>requester-pays</key>
                                <value>
                                    <name>requester-pays</name>
                                </value>
                            </entry>
                        </descriptors>
                        <executionNode>PRIMARY</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
                                <key>Bucket</key>
                                <value>nyc-tlc</value>
                            </entry>
                            <entry>
                                <key>Region</key>
                                <value>us-east-1</value>
                            </entry>
                            <entry>
                                <key>Access Key</key>
                            </entry>
                            <entry>
                                <key>Secret Key</key>
                            </entry>
                            <entry>
                                <key>record-writer</key>
                            </entry>
                            <entry>
                                <key>min-age</key>
                                <value>0 sec</value>
                            </entry>
                            <entry>
                                <key>Listing Batch Size</key>
                                <value>100</value>
                            </entry>
                            <entry>
                                <key>write-s3-object-tags</key>
                                <value>false</value>
                            </entry>
                            <entry>
                                <key>write-s3-user-metadata</key>
                                <value>false</value>
                            </entry>
                            <entry>
                                <key>Credentials File</key>
                            </entry>
                            <entry>
                                <key>AWS Credentials Provider service</key>
                            </entry>
                            <entry>
                                <key>Communications Timeout</key>
                                <value>30 secs</value>
                            </entry>
                            <entry>
                                <key>SSL Context Service</key>
                            </entry>
                            <entry>
                                <key>Endpoint Override URL</key>
                            </entry>
                            <entry>
                                <key>Signer Override</key>
                                <value>Default Signature</value>
                            </entry>
                            <entry>
                                <key>proxy-configuration-service</key>
                            </entry>
                            <entry>
                                <key>Proxy Host</key>
                            </entry>
                            <entry>
                                <key>Proxy Host Port</key>
                            </entry>
                            <entry>
                                <key>proxy-user-name</key>
                            </entry>
                            <entry>
                                <key>proxy-user-password</key>
                            </entry>
                            <entry>
                                <key>delimiter</key>
                            </entry>
                            <entry>
                                <key>prefix</key>
                                <value>csv_backup/yellow_tripdata_2020-05.csv</value>
                            </entry>
                            <entry>
                                <key>use-versions</key>
                                <value>false</value>
                            </entry>
                            <entry>
                                <key>list-type</key>
                                <value>1</value>
                            </entry>
                            <entry>
                                <key>requester-pays</key>
                                <value>false</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>true</executionNodeRestricted>
                    <name>ListS3</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.aws.s3.ListS3</type>
                </processors>
                <processors>
                    <id>85b384dd-bb71-34d9-0000-000000000000</id>
                    <parentGroupId>993f5945-3d6c-3fab-0000-000000000000</parentGroupId>
                    <position>
                        <x>935.6707976606693</x>
                        <y>226.1482249932406</y>
                    </position>
                    <bundle>
                        <artifact>nifi-aws-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.16.3</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments/>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
                                <key>Bucket</key>
                                <value>
                                    <name>Bucket</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Object Key</key>
                                <value>
                                    <name>Object Key</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Region</key>
                                <value>
                                    <name>Region</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Access Key</key>
                                <value>
                                    <name>Access Key</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Secret Key</key>
                                <value>
                                    <name>Secret Key</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Credentials File</key>
                                <value>
                                    <name>Credentials File</name>
                                </value>
                            </entry>
                            <entry>
                                <key>AWS Credentials Provider service</key>
                                <value>
                                    <identifiesControllerService>org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService</identifiesControllerService>
                                    <name>AWS Credentials Provider service</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Communications Timeout</key>
                                <value>
                                    <name>Communications Timeout</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Version</key>
                                <value>
                                    <name>Version</name>
                                </value>
                            </entry>
                            <entry>
                                <key>SSL Context Service</key>
                                <value>
                                    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                                    <name>SSL Context Service</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Endpoint Override URL</key>
                                <value>
                                    <name>Endpoint Override URL</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Signer Override</key>
                                <value>
                                    <name>Signer Override</name>
                                </value>
                            </entry>
                            <entry>
                                <key>encryption-service</key>
                                <value>
                                    <identifiesControllerService>org.apache.nifi.processors.aws.s3.AmazonS3EncryptionService</identifiesControllerService>
                                    <name>encryption-service</name>
                                </value>
                            </entry>
                            <entry>
                                <key>proxy-configuration-service</key>
                                <value>
                                    <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
                                    <name>proxy-configuration-service</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Proxy Host</key>
                                <value>
                                    <name>Proxy Host</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Proxy Host Port</key>
                                <value>
                                    <name>Proxy Host Port</name>
                                </value>
                            </entry>
                            <entry>
                                <key>proxy-user-name</key>
                                <value>
                                    <name>proxy-user-name</name>
                                </value>
                            </entry>
                            <entry>
                                <key>proxy-user-password</key>
                                <value>
                                    <name>proxy-user-password</name>
                                </value>
                            </entry>
                            <entry>
                                <key>requester-pays</key>
                                <value>
                                    <name>requester-pays</name>
                                </value>
                            </entry>
                            <entry>
                                <key>range-start</key>
                                <value>
                                    <name>range-start</name>
                                </value>
                            </entry>
                            <entry>
                                <key>range-length</key>
                                <value>
                                    <name>range-length</name>
                                </value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
                                <key>Bucket</key>
                                <value>nyc-tlc</value>
                            </entry>
                            <entry>
                                <key>Object Key</key>
                                <value>${filename}</value>
                            </entry>
                            <entry>
                                <key>Region</key>
                                <value>us-east-1</value>
                            </entry>
                            <entry>
                                <key>Access Key</key>
                            </entry>
                            <entry>
                                <key>Secret Key</key>
                            </entry>
                            <entry>
                                <key>Credentials File</key>
                            </entry>
                            <entry>
                                <key>AWS Credentials Provider service</key>
                            </entry>
                            <entry>
                                <key>Communications Timeout</key>
                                <value>30 secs</value>
                            </entry>
                            <entry>
                                <key>Version</key>
                            </entry>
                            <entry>
                                <key>SSL Context Service</key>
                            </entry>
                            <entry>
                                <key>Endpoint Override URL</key>
                            </entry>
                            <entry>
                                <key>Signer Override</key>
                                <value>Default Signature</value>
                            </entry>
                            <entry>
                                <key>encryption-service</key>
                            </entry>
                            <entry>
                                <key>proxy-configuration-service</key>
                            </entry>
                            <entry>
                                <key>Proxy Host</key>
                            </entry>
                            <entry>
                                <key>Proxy Host Port</key>
                            </entry>
                            <entry>
                                <key>proxy-user-name</key>
                            </entry>
                            <entry>
                                <key>proxy-user-password</key>
                            </entry>
                            <entry>
                                <key>requester-pays</key>
                                <value>false</value>
                            </entry>
                            <entry>
                                <key>range-start</key>
                            </entry>
                            <entry>
                                <key>range-length</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>FetchS3Object</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.aws.s3.FetchS3Object</type>
                </processors>
                <processors>
                    <id>c03ddf4e-fa82-3ae9-0000-000000000000</id>
                    <parentGroupId>993f5945-3d6c-3fab-0000-000000000000</parentGroupId>
                    <position>
                        <x>935.6707976606693</x>
                        <y>810.1482249932405</y>
                    </position>
                    <bundle>
                        <artifact>nifi-kafka-2-6-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.16.3</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments/>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
                                <key>bootstrap.servers</key>
                                <value>
                                    <name>bootstrap.servers</name>
                                </value>
                            </entry>
                            <entry>
                                <key>topic</key>
                                <value>
                                    <name>topic</name>
                                </value>
                            </entry>
                            <entry>
                                <key>record-reader</key>
                                <value>
                                    <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                                    <name>record-reader</name>
                                </value>
                            </entry>
                            <entry>
                                <key>record-writer</key>
                                <value>
                                    <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                                    <name>record-writer</name>
                                </value>
                            </entry>
                            <entry>
                                <key>use-transactions</key>
                                <value>
                                    <name>use-transactions</name>
                                </value>
                            </entry>
                            <entry>
                                <key>transactional-id-prefix</key>
                                <value>
                                    <dependencies>
                                        <dependentValues>true</dependentValues>
                                        <propertyName>use-transactions</propertyName>
                                    </dependencies>
                                    <name>transactional-id-prefix</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Failure Strategy</key>
                                <value>
                                    <name>Failure Strategy</name>
                                </value>
                            </entry>
                            <entry>
                                <key>acks</key>
                                <value>
                                    <name>acks</name>
                                </value>
                            </entry>
                            <entry>
                                <key>attribute-name-regex</key>
                                <value>
                                    <name>attribute-name-regex</name>
                                </value>
                            </entry>
                            <entry>
                                <key>message-header-encoding</key>
                                <value>
                                    <name>message-header-encoding</name>
                                </value>
                            </entry>
                            <entry>
                                <key>security.protocol</key>
                                <value>
                                    <name>security.protocol</name>
                                </value>
                            </entry>
                            <entry>
                                <key>sasl.mechanism</key>
                                <value>
                                    <name>sasl.mechanism</name>
                                </value>
                            </entry>
                            <entry>
                                <key>kerberos-credentials-service</key>
                                <value>
                                    <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
                                    <name>kerberos-credentials-service</name>
                                </value>
                            </entry>
                            <entry>
                                <key>kerberos-user-service</key>
                                <value>
                                    <identifiesControllerService>org.apache.nifi.kerberos.SelfContainedKerberosUserService</identifiesControllerService>
                                    <name>kerberos-user-service</name>
                                </value>
                            </entry>
                            <entry>
                                <key>sasl.kerberos.service.name</key>
                                <value>
                                    <name>sasl.kerberos.service.name</name>
                                </value>
                            </entry>
                            <entry>
                                <key>sasl.kerberos.principal</key>
                                <value>
                                    <name>sasl.kerberos.principal</name>
                                </value>
                            </entry>
                            <entry>
                                <key>sasl.kerberos.keytab</key>
                                <value>
                                    <name>sasl.kerberos.keytab</name>
                                </value>
                            </entry>
                            <entry>
                                <key>sasl.username</key>
                                <value>
                                    <name>sasl.username</name>
                                </value>
                            </entry>
                            <entry>
                                <key>sasl.password</key>
                                <value>
                                    <name>sasl.password</name>
                                </value>
                            </entry>
                            <entry>
                                <key>sasl.token.auth</key>
                                <value>
                                    <name>sasl.token.auth</name>
                                </value>
                            </entry>
                            <entry>
                                <key>ssl.context.service</key>
                                <value>
                                    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                                    <name>ssl.context.service</name>
                                </value>
                            </entry>
                            <entry>
                                <key>message-key-field</key>
                                <value>
                                    <name>message-key-field</name>
                                </value>
                            </entry>
                            <entry>
                                <key>max.request.size</key>
                                <value>
                                    <name>max.request.size</name>
                                </value>
                            </entry>
                            <entry>
                                <key>ack.wait.time</key>
                                <value>
                                    <name>ack.wait.time</name>
                                </value>
                            </entry>
                            <entry>
                                <key>max.block.ms</key>
                                <value>
                                    <name>max.block.ms</name>
                                </value>
                            </entry>
                            <entry>
                                <key>partitioner.class</key>
                                <value>
                                    <name>partitioner.class</name>
                                </value>
                            </entry>
                            <entry>
                                <key>partition</key>
                                <value>
                                    <name>partition</name>
                                </value>
                            </entry>
                            <entry>
                                <key>compression.type</key>
                                <value>
                                    <name>compression.type</name>
                                </value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
                                <key>bootstrap.servers</key>
                                <value>simple-kafka:9092</value>
                            </entry>
                            <entry>
                                <key>topic</key>
                                <value>nytaxidata</value>
                            </entry>
                            <entry>
                                <key>record-reader</key>
                                <value>ba0c6ecd-f892-3d89-0000-000000000000</value>
                            </entry>
                            <entry>
                                <key>record-writer</key>
                                <value>a394c60f-1606-30c7-0000-000000000000</value>
                            </entry>
                            <entry>
                                <key>use-transactions</key>
                                <value>false</value>
                            </entry>
                            <entry>
                                <key>transactional-id-prefix</key>
                            </entry>
                            <entry>
                                <key>Failure Strategy</key>
                                <value>Route to Failure</value>
                            </entry>
                            <entry>
                                <key>acks</key>
                                <value>0</value>
                            </entry>
                            <entry>
                                <key>attribute-name-regex</key>
                            </entry>
                            <entry>
                                <key>message-header-encoding</key>
                                <value>UTF-8</value>
                            </entry>
                            <entry>
                                <key>security.protocol</key>
                                <value>PLAINTEXT</value>
                            </entry>
                            <entry>
                                <key>sasl.mechanism</key>
                                <value>GSSAPI</value>
                            </entry>
                            <entry>
                                <key>kerberos-credentials-service</key>
                            </entry>
                            <entry>
                                <key>kerberos-user-service</key>
                            </entry>
                            <entry>
                                <key>sasl.kerberos.service.name</key>
                            </entry>
                            <entry>
                                <key>sasl.kerberos.principal</key>
                            </entry>
                            <entry>
                                <key>sasl.kerberos.keytab</key>
                            </entry>
                            <entry>
                                <key>sasl.username</key>
                            </entry>
                            <entry>
                                <key>sasl.password</key>
                            </entry>
                            <entry>
                                <key>sasl.token.auth</key>
                                <value>false</value>
                            </entry>
                            <entry>
                                <key>ssl.context.service</key>
                            </entry>
                            <entry>
                                <key>message-key-field</key>
                            </entry>
                            <entry>
                                <key>max.request.size</key>
                                <value>1 MB</value>
                            </entry>
                            <entry>
                                <key>ack.wait.time</key>
                                <value>5 secs</value>
                            </entry>
                            <entry>
                                <key>max.block.ms</key>
                                <value>5 sec</value>
                            </entry>
                            <entry>
                                <key>partitioner.class</key>
                                <value>org.apache.kafka.clients.producer.internals.DefaultPartitioner</value>
                            </entry>
                            <entry>
                                <key>partition</key>
                            </entry>
                            <entry>
                                <key>compression.type</key>
                                <value>none</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PublishKafkaRecord_2_6</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_2_6</type>
                </processors>
                <processors>
                    <id>ffd081e0-2781-3137-0000-000000000000</id>
                    <parentGroupId>993f5945-3d6c-3fab-0000-000000000000</parentGroupId>
                    <position>
                        <x>935.6707976606693</x>
                        <y>514.1482249932405</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.16.3</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments/>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
                                <key>Record Reader</key>
                                <value>
                                    <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                                    <name>Record Reader</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Record Writer</key>
                                <value>
                                    <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                                    <name>Record Writer</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Records Per Split</key>
                                <value>
                                    <name>Records Per Split</name>
                                </value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
                                <key>Record Reader</key>
                                <value>0d5f5411-3445-3dbd-0000-000000000000</value>
                            </entry>
                            <entry>
                                <key>Record Writer</key>
                                <value>a394c60f-1606-30c7-0000-000000000000</value>
                            </entry>
                            <entry>
                                <key>Records Per Split</key>
                                <value>1000</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>SplitRecord</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>splits</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.SplitRecord</type>
                </processors>
            </contents>
            <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
            <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
            <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>S3 Kafka</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>06/10/2022 10:35:46 UTC</timestamp>
</template>